.debug-highlight-line-dark {
    background-color: #274f37 !important;
    border-left: 3px solid #2ea043 !important;
}

.debug-highlight-line-light {
    background-color: #a0dfb9 !important;
    border-left: 3px solid #2ea043 !important;
}
.error-highlight-line-dark {
    background-color: #630819 !important;
    border: 1px solid #aa3030 !important;
}

.error-highlight-line-light {
    background-color: #e2aeae !important;
    border: 1px solid #a82c2c !important;
}